@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'ScaryHalloweenFont';
		src: url('/fonts/ScaryHalloweenFont.ttf');
		font-weight: normal;
		font-display: swap;
	}
}
